body {
  font-family: Arial, sans-serif;
  background-color: #081b29;
  color: #70deff;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

h5 {
  display: flex;
  font-size: 30px;
  color: rgb(7, 163, 253);
  background-color: rgb(95, 27, 78);
}

.file-list {
  list-style: none;
  padding: 0;
}

.file-list li {
  margin: 10px 0;
}

.file-list a {
  text-decoration: none;
  color: #ffeb77;
  font-size: 1.2rem;
}

.file-list a:hover {
  text-decoration: underline;
}

footer {
  margin-top: 30px;
  font-size: 0.9rem;
  color: #ffffff;
}
